.holiday-div {
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
}

.css-1999axt-MuiAvatar-root {
    background-color: #0097B2 !important;
}

.css-binzgt {
    margin-top: 20px !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
    background-color: #038948 !important;
}

.css-1n7zltw-MuiButtonBase-root-MuiButton-root {
    background-color: #038948 !important;
}